<h2>User Portal</h2>
<div class="jumbotron">
    <div class="container">
        
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Select Items</h5>
                    <p class="card-text">
                      Select Items to the cart
                    </p>
                    <button (click)="SelectItems()" class="btn btn-primary">Select Items</button>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Delete Items </h5>
                    <p class="card-text">Delete Items from the cart</p>
                    <button (click)="DeleteItems()" class="btn btn-primary">Delete</button>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">View Items</h5>
                    <p class="card-text">View Items in the cart</p>
                    <button (click)="viewItems()" class="btn btn-primary">View</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Check Out</h5>
                    <p class="card-text">Check Out from the cart</p>
                    <button (click)="CheckOut()" class="btn btn-primary">CheckOut</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Order Status</h5>
                    <p class="card-text">Check the status of the Order</p>
                    <button (click)="OrderStatus()" class="btn btn-primary">Order Status</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Edit Profile</h5>
                    <p class="card-text">Edit Your Profile</p>
                    <button (click)="EditProfile()" class="btn btn-primary">Edit</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Funds</h5>
                    <p class="card-text">Total Funds</p>
                    <button (click)="Funds()" class="btn btn-primary">Funds</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Logout</h5>
                    <p class="card-text">Logout From your account</p>
                    <button (click)="Logout()" class="btn btn-primary">Logout</button>
                </div>
            </div>

    </div>
</div>

