<h2 style="text-align:center;">User Portal</h2>
<div class="jumbotron">
    <div class="container">
        <div class="row row-cols-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Start Shopping</h5>
                    <p class="card-text">
                      View stems and start shopping
                    </p>
                    <button (click)="StartShopping()" class="btn btn-primary">Start</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Order Status</h5>
                    <p class="card-text">Check the status of the Order</p>
                    <button (click)="OrderStatus()" class="btn btn-primary">Order Status</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Edit Profile</h5>
                    <p class="card-text">Edit Your Profile</p>
                    <button (click)="EditProfile()" class="btn btn-primary">Edit</button>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Funds</h5>
                    <p class="card-text">Total Funds</p>
                    <button (click)="Funds()" class="btn btn-primary">Funds</button>
                </div>
            </div>
        </div>
    </div>
</div>

