<div>
    <div class="card">
        <h5 class="card-header">Funds in your account</h5>
        <div class="card-body">
            <p class="card-text">{{userDetails.fund}}</p>
            <button type="button" *ngIf="!fundFlag" class="btn btn-info" (click) = "fundEdit()">
                <img src="../assets/edit_icon.jpg" width="20" height="20" alt=""> Edit
            </button>
            <form *ngIf="fundFlag" class="px-4 py-3" [formGroup]="changefundRef" (ngSubmit)="fundEdit()">
                <div class="mb-3">
                    <label for="accNumid" class="form-label">Account number</label>
                    <input type="text" class="form-control" id="accNumid" formControlName = "accNum" required>
                </div>
                <div class="mb-3">
                    <label for="fundid" class="form-label">Fund</label>
                    <input type="text" class="form-control" id="fundid" formControlName = "fund" required>
                </div>
                <button type="submit" class="btn btn-link" [disabled]="changefundRef.invalid">Save</button>
            </form>
        </div>
    </div>
</div>